body
{
	background-color: white;
}

h1
{
	font-family: helvetica;
	font-size: 24px;
	color: red;

	text-align: left;
	margin-left: 80px;
	margin-top: 20px;
	margin-bottom: 20px;
}

p
{
	font-family: helvetica;
	font-size: 12px;
	color: black;

	text-align: left;
  	margin-left: 80px;
}
