/* BASICS */

body
{
	background-color: white;
	color: black;

	font-family: helvetica;

	text-align: left;
	margin-left: 80px;
	margin-right: 80px;
}

.title
{
	font-size: 24px;
	font-weight: bold;
	color: red;
	text-decoration: none;
}

h2
{
	font-size: 20px;
}

h3
{
	font-size: 16px;
}

hr
{
	border-top: 5px solid red;
}

a
{
	font-size: 20px;
	font-weight: normal;
	color: black; 
}

/* IMG GALLERY */

div.gallery
{
	float: left;
	
	padding: 5px;
	margin: 5px;
	
	border: 2px solid red;
}


div.gallery img
{
	width: 512px;
	height: auto;
}

div.gallery img:hover
{
	width: 516px;
}

