body
{
	background-color: white;

	font-family: helvetica;

	text-align: left;
	margin-left: 80px;
	margin-right: 80px;
}

h1
{
	font-size: 24px;
	color: red;
}

h2
{
	font-size: 20px;
	color: black;
}

p
{
	font-size: 12px;
	color: black;
}

a
{
	font-size: 20px;
	color: black;
}

hr
{
	border-top: 5px solid red;
}
